
            <h1 class="text-center">Eat Da Burger!</h1>
            <br>
                    
            <form class="create-form text-center mb-3">
                <div class="form group">
                    <label for="burger-name">Burger:</label>
                    <input type="text" id="burger-name" name="burger_name">
                    <br>
                
{{!--   
                        <input type="text" class="form-group" id="burger-name" name="burger_name">
                </div> --}}

                <button type="submit" class="btn btn-danger text-center">Add Burger</button>
            </form>
            <br>
            <p>Enter the burger you would most like to eat. No calories on this page!</p>
        </div>
        <div>

                    <h2>Burgers Ready to Eat:</h2>
                    <ul>
                        {{#each burger}} {{#unless devoured}}
                        {{!-- {{> burgers/burger-block devour=true}} --}}
                        <li>
                            {{this.id}}. {{this.burger_name}}
	<button class="change-devour" data-id="{{id}}" data-newdevour="{{devour}}">
		{{#if devour}}YUM! YUM!{{else}}EAT ME{{/if}}
	</button>
                        </li>
                        {{/unless}} {{/each}}
                    </ul>
                </div>
                <div>

                    <h2>Burgers Devoured:</h2>
                    <ul>
                        {{#each burger}} {{#if devoured}}
                        {{!-- {{> burgers/burger-block devour=false}} --}}
                        <li>
                            {{this.id}}. {{this.burger_name}}
                        </li>
                        {{/if}} {{/each}}
                    </ul>
                </div>
            

        


